header {
    background: url(images/central_park.jpg) 0 -200px no-repeat; /* place image as background*/
    background-size: 1500px;
    /*background-position:0 -200px;*/
    /*background-repeat:no-repeat;*/
    height: 400px; /* give header some height to display the background image */
    padding-top: 100px;
    padding-left: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}
li a {
    text-decoration: none; /* Remove Underline */
}
li a:link {
    color: #000; /* Before Click */
}
li a:visited {
    color:#818db3; /* After Click */
}
li a:hover {
    color:#333; /* Mouse Over */
}
li a:active {
    color:#753a30; /* Mouse Down */
}
nav {
    background-color:rgb(255, 245, 238);
    height: 50px;
    text-align: center;
    padding-top: 2px;
}
main {
    margin: 50px;
}
main h1 {
    color:rgb(129, 141, 179);
    font-family: arial;
}
table{
    margin-top: 35px;
}
table, caption, th, td {
    border: 1px solid #000;
}
th, td{
    width: 150px;
    height: 35px;
    text-align:center;
}
caption {
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
    padding-top: 15px;
    color: #753a30;
}
label {
    display: block;
    margin: 15px 0 0 0;
}
input {
    width: 300px;
}
input[type="radio"] {
    width: 25px;
}
textarea {
    width: 300px;
}
input[type="submit"] {
    display: block;
    margin: 20px 0 10px 0;
    width: 100px;
}
main #album #photo img {
    width: 400px;
    height: 400px;
    border: #818db3 solid 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer {
    height: 40px;
    background-color:rgb(129, 141, 179);
    text-align: center;
    padding-top: 20px;
    color:rgb(211, 218, 240);
}
#album {
    position:relative;
    display:flex;
    flex-wrap:wrap
}
#album:hover {

}
.description {
    position: relative;
    background-color:rgb(255, 255, 255, 75%);
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    bottom:300px;
    font-size:larger;
    visibility: hidden;
}
li:hover .description {
    visibility:visible;
    cursor: pointer;
}
.caption {
    width:400px;
    position:relative;
    left:130px;
    bottom:30px;
    font-weight:lighter
}
section {
    display:inline-block;
    margin: 155px;
    position:relative;
    left: 50px;
    bottom: 1350px;
    width: 450px;
    height: 350px;
    background-color: rgb(0, 0, 0, 75%);
    border-radius: 25px;
    color:aliceblue;
    font-family:'Times New Roman', Times, serif;
    visibility:hidden;
}
section h1, section p {
    margin:40px;
    color:aliceblue;
    font-size:larger;
}
section h1 {
    font-size:30px;
}
.close {
    position: absolute;
    color:rgb(248, 248, 110);
    text-align: center;
    top:250px;
    left:100px;
    cursor:pointer;
}